		body {
			padding: 20px;
			margin: 0;
		}
		form {
			text-align: center;
		}
		.outer {
			display: flex; 
			border: 1px solid red;
			min-width: 5px;
			margin: 20px 5px;
			background-color: #fff;
		}
		.item {
			flex: 1;
			flex-shrink: 1;
		}